allow cameraserver init:unix_stream_socket connectto;

allow cameraserver camera_db_file:file r_file_perms;

allow cameraserver proc_driver_camera:file rw_file_perms;
allow cameraserver proc_driver_laf:file rw_file_perms;

allow cameraserver proc_asusevtlog:file w_file_perms;

allow cameraserver system_file:file execmod;

r_dir_file(cameraserver, fac_file)
r_dir_file(cameraserver, persist_file)

set_prop(cameraserver, camera_prop)
