allow mediaserver mm-qcamerad:unix_stream_socket connectto;

allow mediaserver proc_driver_camera:file rw_file_perms;
allow mediaserver proc_driver_laf:file rw_file_perms;

allow mediaserver proc_asusevtlog:file w_file_perms;

allow mediaserver system_file:file execmod;
allow mediaserver system_server:unix_stream_socket rw_socket_perms;

r_dir_file(mediaserver, persist_file)

set_prop(mediaserver, audio_prop)
set_prop(mediaserver, camera_prop)
