allow thermal-engine proc_driver_battery:file r_file_perms;

allow thermal-engine asusevtlog:file rw_file_perms;

set_prop(thermal-engine, thermald_prop, sys.thermald.mode)
