on enable-low-power
    start qcom-power

    rm /data/misc/perfd/default_values
    rm /data/system/perfd/default_values
    start perfd

    setprop sys.io.scheduler "bfq"

on charger
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"

on property:sys.boot_completed=1
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power
